nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #afbda2;
}

.nav-link {
  margin: 5px 8px;  
  text-decoration: none;
  color: white;
}

.navbar-links {
  display: flex;

}

.logo {
  display: flex;
  width: 100px;
}