.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;;
    height: 400px;
    width: 150px;
    background-color: #afbda2;
    overflow: scroll;
}

.sidebar-ul {
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    list-style: none;
    height: 400px;
    padding: 0;
    margin:0;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    overflow: scroll;
}

li {
    border: 2px;
    border-radius: 10px;
    border-style: solid;
    margin: 10px;
    cursor: pointer;
}

.sidebar-markers {
    display: flex;
    flex-direction: column;
    margin: 10px;
}