footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;/* change back to absolute */
    left: 0;
    bottom: 0;
    top: 600px; /*take out */
    background-color: #064a49;
    color: white;
    height: 2.5rem;
    width: 100%;
    overflow: hidden;
}


.icon {
    color: white;
    margin-left: 15px;
}